@import url("./styles.css");
body {
      font-family: -apple-system,BlinkMacSystemFont,”Segoe UI”,system-ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,”Helvetica Neue”,sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    h1 {
      font-size: 34px;
      color: #000;
      letter-spacing: -.82px;
    }

    h2 {
      font-weight: 500;
    }
  
    a {
      color: #0169d9;
      text-decoration: none;
    }
  
    button,.button,[type=“button”],[type=“submit”],[type=“reset”] {
      display:block;
      cursor: pointer;
      font-weight: 500;
      font:inherit;
      border:none;
      background: #0169d9;
      color: #fff;
      width:90vw;
      max-width: 200px;
      text-decoration: none;
      padding: 10px;
      margin: 1em auto;
      border-radius: 8px;
      text-align: center;
    }
  
    #notinstalled, #error {
      display:none;
    }
    #notinstalled:target, #error:target {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }