/* colours */
:root{
  --primary: #000000;
  --secondary: #3a3a3a;
  --title: #000000;
}}

@media screen and (display-mode: standalone) {
  html { 
    min-height: calc(100% + env(safe-area-inset-top));
    padding-top: 50px;
    background: black;
    background-color: black;
  }
}

/* layout styles */
nav {
/*  margin-top: env(safe-area-inset-top);*/
  background-color: black;
/*  padding-top: env(safe-area-inset-top);*/
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  max-width: 100%;
  border-bottom: 1ex solid var(--secondary);
}
  
nav a {
  text-transform: lowercase;
  color: gray;
}

nav a .bold {
  font-weight: bold;
}

nav .bustl {
  font-family: SpaceAge;
  font-size: 2rem;
  color: #2073DE;
}

nav .sidenav-trigger{
  margin-top: 0;
  padding-top: env(safe-area-inset-top);
}

body {
  margin-top: auto;
}


/* shortcut styles */
.shortcuts{
  padding-top: 30px;
}
.card-panel.shortcut{
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
.shortcut {
  text-align: center;
  align-content: center;
}
.shortcut img{
  grid-area: image;
  max-width: 50%;
}
.shortcut-details{
  grid-area: details;
  margin-top: 1ex;
}
.shortcut-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.shortcut-delete i{
  font-size: 1.5rem;
}
.shortcut-name{
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  color: black;
}
.shortcut-description{
  font-size: 1rem;
  text-align: center;
  color: #828B94;
}

.info{
  margin-top: 0;
  padding-top: 0;
}

/* form-styles */

.add-btn {
  background: #2073DE;
}
input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button {
  visibility: hidden;
  background-color: #2073DE;
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field {
  visibility: hidden;
}
