/* colours */
:root{
  --primary: #000000;
  --secondary: #3a3a3a;
  --title: #000000;
}}

html { background-color: black; font-size: 100%; font-family: Helvetica, Arial, Freesans, clean, sans-serif, SpaceAge;}     
body { margin: 0; padding: 0; background-color: white; font-family: system-ui; color: black; }
@media (prefers-color-scheme: dark;) { body { background-color: #3a3a3a; color: white; }} 
@media (max-device-width: 480px;) { body { margin: 0; max-width: 100%; }}
@media (min-device-width: 481px;) { body { margin: 0; max-width: 100%; }}
img { max-width: 90%; }

/* layout styles */
section nav {
  margin-top: -0.5ex;
  background-color: black;
  background-size: cover;
  position: fixed;
  top: -0.5ex;
  left: 0;
  text-align: center;
  margin-bottom: 1ex;;
  max-width: 100%;
  border-bottom: 1ex solid var(--secondary);
}
  
nav a {
  position: relative;
  top: 0;
  text-transform: lowercase;
  color: gray;
/*  padding-top: env(safe-area-inset-top);*/
}

nav a .bold {
  font-weight: bold;
}

nav .bustl {
  padding-top: env(safe-area-inset-top);
  margin-top: 0;
  top: 0;
  text-align: center;
  font-family: SpaceAge;
  font-weight: bold;
  font-size: 2.2rem;
  margin-left: 1ex;
  color: #2073DE;
}

nav .sidenav-trigger{
  margin-top: 0;
  position: relative;
  top: 0;
/*  padding-top: env(safe-area-inset-top);*/
}

body {
  top: 0;
  padding-top: 0;
}

/* shortcut styles */
.shortcuts{
  margin-top: 15%
  padding-top: 0;
  margin-left: 3ex;
  margin-right: 3ex;
}
.card-panel.shortcut{
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0px 2px 5px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
.shortcut {
  text-align: center;
  align-content: center;
}
.shortcut img{
  grid-area: image;
  max-width: 60%;
}
.shortcut-details{
  grid-area: details;
  margin-top: 1ex;
}
.shortcut-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.shortcut-delete i{
  font-size: 1.5rem;
  color: gray;
}
.shortcut-name{
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  color: black;
}
.shortcut-description{
  font-size: 0.9rem;
  text-align: center;
  color: gray;
}

.info{
  margin-top: 0;
  padding-top: 100px;
}

/* form-styles */

.add-btn {
  background: #2073DE;
}

.iframe-container {
/*  overflow: hidden;*/
  /* 16:9*/
  margin-top: 15%;
  position: fixed;
} 

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (display-mode: standalone) {
  * { 
    min-height: calc(100% + env(safe-area-inset-top));
    padding-top: env(safe-area-inset-top);
    background: black;
    background-color: black;
  }
}
