/* colours */
:root{
  --primary: #000000;
  --secondary: #3a3a3a;
  --title: #000000;
}

@media screen and (display-mode: standalone) {
  html { 
    min-height: calc(100% + env(safe-area-inset-top));
  }
  nav .nav-wrapper{
    background-color: black;
    padding-top: env(safe-area-inset-top);
  }
}


/* layout styles */

nav{
  background: black;
  background-color: black;
  padding-bottom: 1ex;
  ...
  background-attachment: fixed;
  background-image: url("https://shortcutspro.GitHub.io/images/navbar.jpg");
  background-position: center;
  top: 0px;
  left: 0px;
  max-width: 100%;
  background-size: cover;
  position: fixed;
  border-bottom: 1ex solid var(--secondary);
}
nav a{
  text-transform: lowercase;
  color: gray);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
  padding-top: env(safe-area-inset-top);
}

/* shortcut styles */
.shortcuts{
  margin-top: 3ex;
}
.card-panel.shortcut{
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
.shortcut {
  text-align: center;
  align-content: center;
}
.shortcut img{
  grid-area: image;
  max-width: 15%;
}
.shortcut-details{
  grid-area: details;
  margin-top: 6px;
}
.shortcut-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.shortcut-delete i{
  font-size: 20px;
}
.shortcut-name{
  font-weight: bold;
  text-align: left;
  color: black;
}
.shortcut-input{
  font-size: 1rem;
  color: #828B94;
}

.info{
  margin-top: 10%;
}

/* form-styles */

data-input {
  visibility: hidden;
}

.add-btn {
  background: var(--title) !important;
}
input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-source button {
  visibility: visible;
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field {
  visibility: hidden;
}

